<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='header'>
		<div class='nav'>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/games">Games</a></li>
			</ul>
		</div>
	</div>
	<div class='container'>
		<%= yield %>
	</div>

	<footer> &copy T.Butenko 2014</footer>


</body>
</html>
