
<h2>Magic 8 Ball</h2>
<p>This is a fortune telling toy, for all you kids out there who haven’t had the joys of using one. By asking a simple yes or no question the magic 8 balls will respond with a sometimes serious, sometimes sarcastic, but always entertaining answer.</p>


<form action='magic_8_ball/answer'>

	<label for='ask'>
	<input name='question' placeholder='Ask your question here'>
	<button>ASK</button>
	</label>

</form>