<h2> Rock, Paper, Scissors, Lizard, Spock</h2>
<p>Let's play! It's very simple...</p>
<p>Scissors cuts Paper, Paper covers Rock, Rock crushes Lizard, Lizard poisons Spock, Spock smashes Scissors, Scissors decapitates Lizard, Lizard eats Paper, Paper disproves Spock, Spock vaporizes Rock, and, as it always has, Rock crushes Scissors.</p>

<form action='rock_paper_scissors/play'>

	<label>
		<input type="radio" name="throw" value="0"> Rock<br>
		<input type="radio" name="throw" value="2"> Paper<br>
		<input type="radio" name="throw" value="4"> Scissors<br>
		<input type="radio" name="throw" value="3"> Lizard<br>
		<input type="radio" name="throw" value="1"> Spock<br>
	</label>
	<button>GO</button>

</form>