<p>Computers choice was <%= @comp %></p>
<p>Your choice was <%= @player %></p>

<p>You <%= @winner %></p>

<form action='/games/rock_paper_scissors'>

	<button class="return_to _game">Try again</button>
	
</form>