<p>You  <%= @result %>.</p>
<p>Your number was <%= @guess %>.</p>
<p>The number was: <%= @random %>.</p>

<form action='/games/secret_number'>

	<button class="return_to _game">Try again</button>
	
</form>